<div class="contain-to-grid">
  <div class="row">
    <div class="small-12 columns">
      <nav class="top-bar" data-topbar="">
        <ul class="title-area">
          <li class="name show-for-medium-up">
            <h1><a href="/"  title="Main">A3Armory</a></h1>
          </li>
          <li class="name show-for-small-only">
            <a href="/"><img src="assets/img/a3armory_logo_white_small.png"></a>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="/contribute" title="Contribute to A3Armory"><i class="fa fa-wrench"></i> Contribute</a></li>
            <li><a href="/donate" title="Donate - Help Us"><i class="fa fa-dollar"></i> Donate</a></li>
            <li><a href="http://a3armory.com/forum/" title="Visit the community forum" target="_blank"><i class="fa fa-comments"></i> Forum</a></li>
            <li><a href="/scoreboard" title="View server statistics"><i class="fa fa-tasks"></i> Scoreboard</a></li>
            <li><a href="/stats" title="View player statistics"><i class="fa fa-bar-chart"></i> Stats</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div> 
</div>