<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="assets/img/favicon.ico" rel="shortcut icon">
  <title>{{{title}}} - A3Armory.com</title>
  <meta property="og:site_name" content="A3Armory.com">
  <meta property="og:title" content="A3Armory.com">
  <meta property="og:description" content="Based on the popular A3Wasteland mod. We are an active ArmA 3 community that balances game play and support for an addictive military sandbox experience.">
  <meta property="og:url" content="http://a3armory.com{{{url}}}">
  <link rel="stylesheet" href="assets/css/foundation.css" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/datatable/foundation.min.css" />
  <link rel="stylesheet" href="assets/datatable/dataTables.foundation.css" />
  <link rel="stylesheet" href="assets/http://cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css" />
  <link rel="stylesheet" href="assets/css/a3.css" />
  {{#if stats}}
    <link rel="stylesheet" href="assets/css/stats.css" />
  {{/if}}
  {{#if scores}}
    <link rel="stylesheet" href="assets/css/scoreboard.css" />
  {{/if}}
  {{#if eastereggs}}
    <link rel="stylesheet" href="assets/css/eastereggs.css" />
  {{/if}}
  <script src="assets/js/vendor/modernizr.js"></script>
</head>
<body>
  {{>menu}}
  {{{body}}}
  {{>footer}}
  <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="assets/js/foundation.min.js"></script>
  {{#if stats}}
    <script type="text/javascript" src="assets/js/stats.js" ></script>
  {{/if}}
  {{#if scores}}
    <script type="text/javascript" src="assets/js/scoreboard.js" ></script>
  {{/if}}
  <script type="text/javascript" src="assets/js/vendor/moment.js" ></script>
  <script type="text/javascript" src="assets/js/vendor/livestamp.min.js"></script>
  <script type="text/javascript" src="assets/datatable/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="assets/datatable/dataTables.foundation.js"></script>
  <script type="text/javascript" src="assets/datatable/dataTables.responsive.js"></script>
  
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>
