<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="img/favicon.ico" rel="shortcut icon">
  <title>{{{title}}} - A3Armory.com</title>
  <meta property="og:site_name" content="A3Armory.com">
  <meta property="og:title" content="A3Armory.com">
  <meta property="og:description" content="A3Armory's goal is the best possible server performance with a fair community, free from hackers, trolls, and exploitative members.">
  <meta property="og:url" content="http://a3armory.com{{{url}}}">
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/a3.css" />
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
  {{{body}}}

  {{>footer}}

  <script type="text/javascript" src="js/vendor/jquery.js"></script>
  <script type="text/javascript" src="js/foundation.min.js"></script>
  <script type="text/javascript" src="js/stats.js" ></script>
  <script type="text/javascript" src="js/vendor/moment.js" ></script>
  <script type="text/javascript" src="js/vendor/livestamp.min.js"></script>
  <script type="text/javascript" src="datatable/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="datatable/dataTables.foundation.js"></script>
  <script type="text/javascript" src="datatable/dataTables.responsive.js"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>
