<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <p>
        <h4 class="slogan">Contribute</em></h4>
      </p>
    </div>
  </div>
</section>

<section class="section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <h3>Hey!</h3>
    </div>
  </div>
</section>

{{>teamspeak}}