<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <p>
        <h4 class="slogan">Donate</em></h4>
      </p>
    </div>
  </div>
</section>

<section class="section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <h3>Please donate to help the community grow</h3>
      <h5>All donations will be used for server upgrades and operating cost.</h5>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" value="_s-xclick" type="hidden">
        <input name="hosted_button_id" value="SD374PRHXCS32" type="hidden">
        <button type="submit" class="fa fa-cc-paypal fa-5x paypal"></button>
      </form>

      <h5>If you can contribute anything to the community please contact <span class="email">A3Armory@gmail.com</span>.</h5>
    </div>
  </div>
</section>

<section class="tsbg section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <div id="download-button">
        <a title="" class="button round alert tsfont" href="ts3server://ts.a3armory.com:9987"><i class="fa fa-volume-up"></i> TS.A3Armory.com</a>
      </div>
    </div>
  </div>
</section>