<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <br />
      <p>
        <h2 class="slogan">Stats</h2>
      </p>
    </div>
  </div>
</section>

{{> boards/leaderboard_table stats_name='leaderboard'}}