<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <p>
        <h4 class="slogan">Based on the popular A3Wasteland mod. <em>We are an active ArmA 3 community that balances game play and support for an addictive military sandbox experience.</em></h4>
      </p>
      <div id="download-button" class="mobile-button">
        <div class="button round alert">
          <i class="fa fa-server"></i> <strong>Choose a server to join</strong>
          <div class="servers">
            <a href="steam://run/107410//-connect=108.61.136.218%20-port=2302" class="server_link ">Altis 1</a>
            <a href="steam://run/107410//-connect=206.221.186.250%20-port=2302" class="server_link ">Altis 2</a>
            <a href="steam://run/107410//-connect=108.61.142.82%20-port=2302" class="server_link ">Stratis</a>
          </div>
          <em style="font-size: 0.8rem;">You need buy ArmA III to play in our servers</em>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <h3>A3Armory's goal is the best possible server performance with a fair community, free from hackers, trolls, and exploitative members.</h3>
    </div>
  </div>
</section>

{{>contents/teamspeak}}