<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <br />
      <p>
        <h2 class="slogan">Scoreboard <span id="title">ALTIS #1</span></h2>
      </p>
    </div>
  </div>
</section>

<div class="board">    
  <img src="assets/img/load.gif" id="altis1_loading" class="loading" />
  <table id="altis1" class="tdisplay responsive table-hover table-condensed">
    <thead>
      <tr class="tr_header">
        <th class="small-4">Side</th>
        <th class="small-5 no-sort">Player Name</th>
        <th class="small-5">Player Kills</th>
        <th class="small-5">AI Kills</th>
        <th class="small-5">Deaths</th>
        <th class="small-5">Revives</th>
        <th class="small-5">Captures</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <p>
        <h2 class="slogan">Scoreboard <span id="title">ALTIS #2</span></h2>
      </p>
    </div>
  </div>
</section>

<div class="board">    
  <img src="assets/img/load.gif" id="altis2_loading" class="loading" />
  <table id="altis2" class="tdisplay responsive table-hover table-condensed">
    <thead>
      <tr class="tr_header">
        <th class="small-4">Side</th>
        <th class="small-5 no-sort">Player Name</th>
        <th class="small-5">Player Kills</th>
        <th class="small-5">AI Kills</th>
        <th class="small-5">Deaths</th>
        <th class="small-5">Revives</th>
        <th class="small-5">Captures</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <p>
        <h2 class="slogan">Scoreboard <span id="title">STRATIS</span></h2>
      </p>
    </div>
  </div>
</section>

<div class="board">    
  <img src="assets/img/load.gif" id="stratis_loading" class="loading" />
  <table id="stratis" class="tdisplay responsive table-hover table-condensed">
    <thead>
      <tr class="tr_header">
        <th class="small-4">Side</th>
        <th class="small-5 no-sort">Player Name</th>
        <th class="small-5">Player Kills</th>
        <th class="small-5">AI Kills</th>
        <th class="small-5">Deaths</th>
        <th class="small-5">Revives</th>
        <th class="small-5">Captures</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>