<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <br />
      <p>
        <img src="assets/img/a3armory-logo.png">
      </p>
      <br />
      <p>
        <h2 class="slogan">Stats</h2>
      </p>
    </div>
  </div>
</section>

<div class="board">    
  <img src="assets/img/load.gif" id="loading" class="loading" />
  <table id="leaderboard" class="tdisplay responsive table-hover table-condensed">
    <thead>
      <tr class="tr_header">
        <th id="PlayerRank" class="small-4">Rank</th>
        <th id="PlayerName" class="small-5 no-sort">Player Name</th>
        <th id="PlayerKills" class="small-5">Player Kills</th>
        <th id="PlayerKD" class="small-5">K/D</th>
        <th id="PlayerAI" class="small-5">AI Kills</th>
        <th id="PlayerDeath" class="small-5">Deaths</th>
        <th id="PlayerRevive" class="small-5">Revives</th>
        <th id="PlayerCapture" class="small-5">Captures</th>
        <th id="PlayerUpdate" class="small-5 no-sort">Last Update</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>