<div class="board">    
  <img src="assets/img/load.gif" id="{{{score_name}}}_loading" class="loading" />
  <table id="{{{score_name}}}" class="tdisplay responsive table-hover table-condensed">
    <thead>
      <tr class="tr_header">
        <th id="PlayerTeam" class="small-4">Side</th>
        <th id="PlayerName" class="small-5 no-sort">Player Name</th>
        <th id="PlayerKills" class="small-5">Player Kills</th>
        <th id="PlayerAI" class="small-5">AI Kills</th>
        <th id="PlayerDeath" class="small-5">Deaths</th>
        <th id="PlayerRevive" class="small-5">Revives</th>
        <th id="PlayerCapture" class="small-5">Captures</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>