body {
  background-image: url("../img/eastereggs/micovery.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  overflow:hidden;
}

div {
  display: none;
}

h1 {
  color: #fff;
}