@media screen and (max-width: 600px) {
  body {
    background: #000!important;
  }

  .tsbg {
    background: #000!important;
  }

}

select[name="altis1_length"], select[name="altis2_length"], select[name="stratis_length"] { 
  background-color:rgba(0, 0, 0, 0.5)!important;
  border: 1px solid #436688!important;
  color: #fff!important;
  outline: 0!important;
}

.board {
  font-family: "Xolonium", Helvetica, Arial, sans-serif;
}

.loading {
  display: block;
  margin: auto;
  padding: 50px;
}

input[type="search"] {
  background-color:rgba(0, 0, 0, 0.5)!important;
  border: 1px solid #436688!important;
  color: #fff!important;
  outline: 0!important;
}

.board {
  max-width: 1200px; 
  min-height: 500px; 
  margin:auto; 
  padding: 20px 20px 20px;
}

#altis1, #altis2 {
  display: none;
}

.GUER, .EAST, .WEST, .CIV {
  list-style: none;
}

.GUER:before, .EAST:before, .WEST:before, .CIV:before {
  content: "■";
  font-size: 30px;
  padding-right: 5px;
}

.GUER:before {
  color: #66C858;
}

.EAST:before {
  color: #FF383D;
}

.WEST:before {
  color: #3179FF;
}

.CIV:before {
  color: #DADADA;
}